.workspace-status,
.disabled-workspace-status
  margin-right 10px
  padding-bottom 0
  & > *
    position relative
    font-size 18px
    top 3px

.workspace-status
  cursor pointer
  & > *
    color #979797
    &:hover
      color #4a90e2

.disabled-workspace-status > *
  cursor not-allowed
  color #d2d2d2
