.workspace-status,
.disabled-workspace-status
  padding-bottom 0
  & > *
    position relative
    font-size 18px
    top 2px

.workspace-status > *
  color #979797
  &:hover
    color #4a90e2

.disabled-workspace-status > *
  color #d2d2d2
