.ui-container .pf-c-page
  height 100vh !important

i.codicon-symbol-method
  color inherit !important

#page-sidebar
  a.navbar-brand
    white-space normal
    text-align center
    word-break break-all
  .pf-c-nav .pf-c-nav__item .pf-c-nav__link
    padding-right 10px
    .workspace-name
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
  .pf-c-nav .pf-c-nav__item
    i
      position relative
      width 25px
      top 3px
    .codicon-settings-gear
      top 2px
    .codicon-symbol-method
      font-size 125%
      left -1px
  .pf-c-nav__section
    .pf-c-nav__list
      a
        padding-bottom 8px
        padding-top 8px
        line-height 22px
      a:after
        display none
  .pf-m-dark
    a:hover
      background-color var(--pf-c-nav--m-dark__item--m-current--BackgroundColor)

.pf-c-page .pf-c-page__header.header-show
  min-height 57px
  max-height 57px
  animation-name showHeader
  animation-duration .1s
  animation-timing-function linear

@keyframes showHeader
  0%
    overflow hidden
    min-height 0
    max-height 0
  100%
    overflow visible
    min-height 57px
    max-height 57px

.pf-c-page .pf-c-page__header.header-hide
  overflow hidden
  min-height 0
  max-height 0
  animation-name hideHeader
  animation-duration .1s
  animation-timing-function linear

@keyframes hideHeader
  0%
    overflow visible
    min-height 57px
    max-height 57px
  100%
    overflow hidden
    min-height 0
    max-height 0
