.workspace-status-indicator
  display inline-block
  position relative
  overflow hidden
  width 26px
  height 19px
  vertical-align baseline
  & > *
    display inline
  i.codicon
    top 3px
    font-size 20px
    position relative
    left -4px
  .codicon-circle-filled
    color #00c183
  .workspace-status-spinner
    display inline-block
    line-height inherit
  .workspace-status-spinner .spinner
    width 20px
    height 19px
    margin-left -1px
    margin-top 3px
    div
      width 2px
      border-radius 0
      margin-right 2px
  .workspace-status-error
    color #e22812 !important

.workspace-status-indicator .spinner
  text-align center
.workspace-status-indicator .spinner > *
  background-color #4A90E2
  height 100%
  width 8px
  border-radius 6px
  margin-right 6px
  display inline-block
  animation sk-stretchdelay 1.2s infinite ease-in-out
.workspace-status-indicator .spinner .rect2
  animation-delay -1.1s
.workspace-status-indicator .spinner .rect3
  animation-delay -1.0s
@keyframes sk-stretchdelay
  0%, 40%, 100%
    transform scaleY(0.4)
  20%
    transform scaleY(1.0)
