.workspace-details-editor
  display inline-block
  width 1200px
  & > *
    float left
  .label
    display inline-block
    width 150px
    margin-top 22px
    margin-bottom 0
    font-weight 500
    height 690px
  .cancel-button
    float left
.workspace-details-header
  padding-bottom 0
  h1
    margin 0
    span.workspace-status-spinner
      margin-left 2px
    span
      text-transform lowercase
      margin-left 10px
      font-size 20px
      opacity .9
.pf-c-tab-content
  outline none
