.workspace-details-header
  padding-bottom 0
  h1
    margin 0
    span.workspace-status-spinner
      margin-left 2px
    span
      text-transform lowercase
      margin-left 10px
      font-size 20px
      opacity .9
.workspace-details-tabs
  .pf-c-tab-content
    outline none
  .pf-c-tabs
    padding-bottom 25px
  .workspace-details-editor
    height calc(100vh - 350px)
    width calc(100% - 70px)
    .label
      display inline-block
      width 150px
      margin-bottom 0
      font-weight 500
    .cancel-button
      float right
