.label {
  margin-left: 20px;
  font-size: 20px;
  text-transform: lowercase;
  opacity: 0.9;
}

.rotate {
  animation-name: spinnerRotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
