.workspace-status-indicator
  display inline-block
  width 21px
  line-height 20px
  max-height 20px
  height 20px
  text-align left
  & > *
    display inline
  .fa-circle
    color #00c183
  .workspace-status-spinner
    display inline-block
    line-height inherit
    vertical-align middle
  .workspace-status-spinner .spinner
    width 20px
    height 20px
    font-size 8px
    padding-bottom 1px
    padding-right 4px
    div
      width 2px
      border-radius 0
      margin-right 2px
  .workspace-status-error
    color #e22812 !important

.workspace-status-indicator .spinner
  text-align center
.workspace-status-indicator .spinner > *
  background-color #4A90E2
  height 100%
  width 8px
  border-radius 6px
  margin-right 6px
  display inline-block
  animation sk-stretchdelay 1.2s infinite ease-in-out
.workspace-status-indicator .spinner .rect2
  animation-delay -1.1s
.workspace-status-indicator .spinner .rect3
  animation-delay -1.0s
@keyframes sk-stretchdelay
  0%, 40%, 100%
    transform scaleY(0.4)
  20%
    transform scaleY(1.0)
