.delete-workspace,
.disabled-delete-workspace
  margin-right 10px
  padding-bottom 0
  & > *
    position relative
    font-size 18px
    top 2px

.delete-workspace
  cursor pointer
  & > *
    color #979797
    &:hover
      color #4a90e2

.disabled-delete-workspace > *
  cursor not-allowed
  color #d2d2d2
