.devfile-editor
  width 1000px
  height 670px
  float left
  a
    color #3782c4
    font-size 15px
    line-height 40px
    text-decoration none
  .monaco .monaco-editor
    border 1px solid #cecece
