.devfile-editor
  width 1000px
  height 670px
  float left
  .error
    color #e22812
    font-size 15px
    height 18px
  a
    color #3782c4
    font-size 15px
    line-height 25px
    text-decoration none
  .monaco .monaco-editor
    border 1px solid #cecece
